body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

canvas {
    margin: 0;
}

#main-canvas {
    image-rendering: pixelated;
}

#palette {
    height: 120px;
    width: 100%;
    background: black;
    position: fixed;
    bottom: 0;
    left: 0;
    user-select: none;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.palette-color {
    height: 70px;
    width: 70px;
    margin: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 8px 14px 38px rgba(0, 0, 0, .3), 1px 3px 8px rgba(0, 0, 0, .3);
    border: 2px white solid;
    transition: border-bottom-width 0.1s;
}

.palette-color.selected {
    border-bottom-width: 17px;
    transition: border-bottom-width 0.2s;
}

.palette-color:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
}

#timer {
    width: 100vw;
    height: 78px;
    background: var(--color-background);
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    color: var(--color-secondary);
    font-size: 3em;
    text-align: center;
    padding: calc(45px - 0.5em) 0;
}

#palette-container {
    width: 2200px;
}

html {
    overflow: hidden;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    --color-main: black;
    --color-secondary: white;
    --color-background: black;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 120px);
    max-width: 100%;
    max-height: calc(100vh - 120px);
    overflow: scroll;
    cursor: none;
}

#chat {
    width: 15em;
    height: 18em;
    position: absolute;
    top: 3em;
    left: 3em;
    background: #000;
    color: white;
    transition: height 0.6s;
    border: 2px white solid;
    border-radius: 4px;
    border-bottom-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#chat-body {
    max-width: 15em;
    max-height: 13.7em;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
    border: none;
}

#chat-input {
    width: calc(100% - 2em);
    height: 2em;
    background: #000;
    color: white;
    font-family: inherit;
    padding: 0 1em;
    border: 2px white solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    left: -2px;
    top: -6px;
}

#chat-input::placeholder {
    color: white;
    opacity: 0.7;
}

#toggle-stuff {
    border-bottom: 2px white solid;
    padding: 0.5em 1em;
    cursor: pointer;
    user-select: none;
}

.hidden {
    height: 0;
    overflow: hidden;
}

#chat.hidden {
    height: 2.5em;
    overflow: hidden;
    border-radius: 4px;
}

#grid.hidden {
    display: none;
}

#mini-canvas {
    border: 2px black solid;
    position: absolute;
    right: 10px;
    top: 10px;
}

@keyframes colors {
    0% {
        background-color: #ff073a;
    }

    20% {
        background-color: #ccff00;
    }

    40% {
        background-color: #39ff14;
    }

    60% {
        background-color: #1b03a3;
    }

    80% {
        background-color: #bc13fe;
    }

    100% {
        background-color: #ff073a;
    }
}

::-webkit-scrollbar {
    background: black;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 2px white solid;
    min-width: 10px;
    min-height: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}

::-webkit-scrollbar-corner {
    background: black;
}

#pixel-count {
    position: absolute;
    bottom: 130px;
    right: 10px;
    background: black;
    color: white;
    padding: 0 0.4em;
    border: 2px white solid;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-left-radius: 4px;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
    padding: calc(50vh - 130px) 0;
    text-align: center;
}

#loading span {
    animation: opacity 1s infinite;
    animation-timing-function: linear;
}

#loading span:nth-child(2) {
    animation-delay: 0.3s;
}

#loading span:nth-child(3) {
    animation-delay: 0.6s;
}

#pixel-count.left-side {
    left: 0;
    right: unset;
    border-left-width: 0;
    border-right-width: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
}

#user-count {
    position: absolute;
    bottom: calc(132px + 1.5em);
    right: 10px;
    background: black;
    color: white;
    padding: 0 0.4em;
    border: 2px white solid;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-left-radius: 4px;
}

#user-count.left-side {
    right: unset;
    left: 0;
    border-left-width: 0;
    border-right-width: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
}

.message {
    margin-bottom: 1em;
}

.trait::after {
    border-radius: 4px;
    padding: 2px;
    margin-left: 0.5em;
    border: 2px white solid;
    font-size: 0.7em;
}

.trait._joemama::after {
    background: yellow;
    color: black;
    content: 'Joe Mama';
}

.trait._dev::after {
    background: black;
    color: white;
    content: 'Dev';
}

.trait._2kinc::after {
    background: black;
    color: white;
    content: '2K inc.';
}

.message-body {
    border: 2px white solid;
    border-radius: 4px;
    padding: 0.4em;
    margin-bottom: 0.1em;
    background: black;
}

.message-info {
    font-size: 0.8em;
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

.message-body:hover {
    filter: invert(1);
    border: 2px black solid;
}

#grid {
    background-image: repeating-linear-gradient(0deg, transparent, transparent 4px, #00000077 4px, #00000077 5px), repeating-linear-gradient(90deg, transparent, transparent 4px, #00000077 4px, #00000077 5px);
    background-color: transparent;
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: 100%;
}

#toggle-grid {
    float: right;
}

#navbar {
    z-index: 100000;
    transition: top 0.3s;
    display: block;
}

#navbar.hidden {
    top: calc(-3em - 10px);
}

#navbar k-navbar-right {
    display: block;
    margin-top: 10px;
}

#create-button {
    margin-left: 1em;
    margin-right: 0.5em;
}

#create {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-background);
    width: 100vw;
    height: 100vh;
    padding: 40px;
    display: none;
}

#browse-spaces {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-background);
    width: 100vw;
    height: 100vh;
    padding: 40px;
    display: none;
    overflow: auto;
}

.browse-spaces-item {
    margin: 0.6em;
    margin-left: 0;
    padding: 16px;
}

#browse-spaces-exit-button {
    margin-top: 3em;
}

#show-navbar {
    position: absolute;
    top: 1em;
    left: 50vw;
    width: 3em;
    padding: 3em 0;
    text-align: center;
    background: rgba(0, 0, 0, .3);
    color: black;
}

.user-cursor {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px white solid;
    border-radius: 4px;
    box-shadow: 8px 14px 38px rgba(0, 0, 0, .6), 1px 3px 8px rgba(0, 0, 0, .6);
}

h1 {
    margin: 0;
}

.browse-spaces-item--star-button {
    background: black;
    color: #00e676;
    margin-right: 1em;
}

.pressed {
    background: #00e676;
    color: white;
    box-shadow: none;
    pointer-events: none;
}