canvas {
    margin: 0;
}

#main-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#palette {
    height: 120px;
    width: 100%;
    background: #333;
    position: fixed;
    bottom: 0;
    left: 0;
    user-select: none;
    max-width: 100%;
}

.palette-color {
    height: 80px;
    width: 80px;
    margin: 20px;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 8px 14px 38px rgba(0,0,0,.3), 1px 3px 8px rgba(0,0,0,.3);
    transition: all 0.2s ease;
}

.palette-color-selected {
    box-shadow: 8px 14px 38px rgba(0,0,0,.5), 1px 3px 8px rgba(0,0,0,.5);
    transform: scale(1.2);
}

.palette-color:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
}

#timer {
    width: 100%;
    height: 100%;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: white;
    font-size: 3em;
    text-align: center;
    padding: calc(60px - 0.5em) 0;
}

#palette-container {
    width: 10000px;
}
